#copymatic-extension, 
#copymatic-modal {
    display: none !important;
}


.main{
padding: 5px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
width: 1200px;
margin:  0 auto;
}
div{
   border: 1px solid red; 
margin: 10px 0px;


}
 .main .top{
   height: 120px;
   background-color: blueviolet;
   display: flex;
}
.main .top .left{
width: 50%;
background-color: coral;
}
.main .top .right{
    width: 50%;
  background-color: rgb(102, 33, 8);
}
.main .middle{
    height: 400px;
    background-color:brown ;
    display: flex;
}
.main .middle .left{
    width: 70%;
    background-color: rgb(13, 32, 107);
}
.main .middle .right{
    width: 30%;
    background-color: rgb(102, 33, 8);
  }
     


.main .bottom{
   height: 300px; 
   background-color: cadetblue;
   display: flex;
}
.main .bottom .left{
    width: 33%;
    background-color:rgb(131, 57, 30);

}
.main .bottom .mid{
    width: 33%;
    background-color:rgb(131, 57, 30);
}
.main .bottom .right{
    width: 33%;
    background-color:rgb(131, 57, 30);
}
@media screen and (max-width: 575px) {
  .main{
    width: 575px;
  }
    .main .bottom .left{
        width: 33%;
        background-color:rgb(24, 193, 145);
    
}
.main .bottom .mid{
    width: 50%;
    background-color:rgb(131, 57, 30);
}
.main .bottom .right{
    width: 50%;
    background-color:rgb(131, 57, 30);
  }
}

@media (min-width:576px) and (max-width:767px){}
@media (min-width:768px) and (max-width:991px){}
@media (min-width:992px) and (max-width:1199px){}
@media (min-width:1200px) and (max-width:1399px){}
@media (min-width:1400px){} 